body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 80px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #72b48f;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #61a57e;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #121212;
  color: white;
  outline: none;
  transition: background-color 0.3s;
}

.search-bar input[type="text"]:focus {
  background-color: #272727;
}

.search-bar-button {
  background-color: #72b48f;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar-button:hover {
  background-color: #61a57e;
}

.help-email {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: white;
}

.help-email a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}

.help-email a:hover {
  border-bottom: 1px solid white;
}

.external-links {
  margin-top: 50px;
  text-align: center;
}

.external-links h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.external-links ul {
  list-style: none;
  padding: 0;
}

.external-links li {
  margin-bottom: 15px;
}

.external-links a {
  color: #72b48f;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.external-links a:hover {
  color: #61a57e;
}
.celebrate-phrase {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  color: #72b48f;
}
